{% extends "podomarket_base/base_with_navbar.html" %}

{% load static %}

{% block title %}{{ post.dt_created|date:"Y.m.d" }}자 {{ post.platoon_member_rank }} {{ post.platoon_member }} 일일결산{% endblock title %}

{% block content %}
<div class="post-detail">
  <div class="header">
    <a href="{% url 'index' %}">&lt; 목록으로</a>
    <div class="buttons">
      <a class="podo-button small negative" href="{% url 'post-delete' post.id %}">삭제</a>
      <a class="podo-button small secondary" href="{% url 'post-update' post.id %}">수정</a>
    </div>
  </div>
  <article>
    <div class="post-meta">
      <h2 class="title">{{ post.dt_created|date:"Y.m.d" }}자 {{ post.platoon_member_rank }} {{ post.platoon_member }} 일일결산</h2>
      <div class="item-info">
        <span class="date">수정일: {{ post.dt_updated|date:"Y.m.d" }}</span>
      </div>
    </div>

    <a class="profile-link" href="#">
      <div class="podo-box gray-background profile">
        <div class="profile-info">
          <div class="nickname">{{post.author}}</div>
          <ul class="podo-links">
            <li>kakaouser1</li>
            <li class="divider"></li>
            <li>나중에 사용할 가능성이 있어서 남겨둠</li>
          </ul>
        </div>
      </div>
    </a>

    <p class="item-detail">
      {{post.content|linebreaksbr}}
    </p>
  </article>
</div>
{% endblock content %}
